.header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-left: 1.5rem;
}

.nav a {
  color: white;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: none;
  opacity: 0.8;
} 