/* App全局样式 */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.main-content {
  flex: 1;
  padding: 0rem 0;
}

.api-message {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
} 